<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 起别名 -->
    <typeAliases>
        <package name="com.clarity.entity"/>
    </typeAliases>

    <!-- 扫描mapper.xml文件 -->
    <mappers>
        <mapper resource="com/clarity/mapper/BookMapper.xml"/>
    </mappers>

</configuration>